@import url(http://fonts.googleapis.com/css?family=Quantico:400,700|Electrolize|Lato);

body {
  font-size: 14px;
  font-family: 'Lato', Verdana, Arial, SunSans-Regular, sans-serif;
  color:#564b47;  
  padding-left: 50px;
  padding-right: 20%;
}

h1,h2,h3,h4 {
    font-family: 'Quantico', sans-serif;
    min-width: 800px;
}

body header hr,
body footer hr {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    min-width: 840px;
}

body header h1 {
    font-weight: 700;
    font-size: 400%;
    margin-bottom: -15px;
    padding-bottom: 0;
}

body>footer {
    clear: both;
    width: 100%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
    overflow: auto;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
}

strong, em {
    color: gray;
}

table {
    border: none;
}

th, td {
    padding-left: 20px;
}

a {
    font-family: 'Quantico', Sans-Serif;
    color: #000;
}

a:hover {
    text-shadow: #666 1px 1px 2px;
}

a:active {
    margin-left: 3px;
}


nav {
    float: left;
    width: 200px;
    min-width: 200px;
}

nav a,
nav a:visited,
nav a:active {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #333;
    text-decoration: none;
}

nav ul {
    padding-left: 5px;
}
nav li {
    list-style: none;
}

main {

    width: 85%;
    min-width: 640px;
    margin-left: 200px;
    display: block;
}

section a {
    text-decoration: none;
}

section a:active {
    margin-left: 0px;
}

article, section {
    margin: 10px;
}

article header h2 a {
    text-decoration: none;
    color:#564b47;  
}

article div {
    margin-left: 10px;
    padding: 10px;
}

article div li {
    padding-bottom: 5px;
}

article div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article footer {
    padding-top: 10px;
    color: gray;
}

article footer a,
article footer a:hover,
article footer a:active {
    text-decoration: none;
}

time {
    font-family: 'Electrolize', sans-serif;
}

.category a:link, 
.category a:visited, 
.category a:active { 
    font-family: 'Electrolyze', Sans-Serif;
    color: #696969;
    text-decoration: none;
}

.category a:hover {
    text-shadow: #666 1px 1px 2px;
    text-decoration: none;
}

#more {
    margin-left: 80%;
}

.footnotes {
    font-size: 11px;
}

.footnotes p {
    display: inline;
}

@media print {

    nav { display: none; }
    main { margin-left: 0px; width: 100%; }
    footer { display: none; }
    code { overflow: visible; }
}
