<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>{% if page.title %} {{ page.title }} | {% endif %} I teach 109</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <link rel="icon" href="{{site.baseurl}}/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
	</head>

	<body>
		<div id="header">
			<h1>I teach 109</h1>
            <h4>My name is Luke, I teach CMPT-109 at Montclair State University
                and this is my blog.</h4>
			<hr />
		</div>

		<div id="sidebar">

			<h3>Blog Navigation</h3>

			<ul>
                <li><a href="{{site.baseurl}}/">Home</a></li>
                <li><a href="{{site.baseurl}}/archive">Archive</a> ({{site.posts | size}})</li>
                <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                <li><a href="{{site.baseurl}}/feed.xml">RSS Feed</a></li>
			</ul>

			<h3>Other Links</h3>

			<ul>
				<li><a href="/~maciakl/">CMPT 109</a></li>
				<li><a href="http://cs.montclair.edu">CS Dept</a></li>
				<li><a href="http://montclair.edu">Montclair State</a></li>
			</ul>
		</div>

		<div id="content">

			{{ content }}

		</div>

		<div id="footer">
			<hr />
			<p>2012 &copy; Luke Maciak</p>
		</div>

	</body>

</html>
